 
 
 
<main class="flex-container">
    <div class="box">
            <form>
                <h3>Login Here</h3>
                
                <div id="adjust">
                <label class="start" for="username">Username</label>
                <input type="text" class="boxinput" placeholder="Email or Phone" id="username">
        
                <label for="password">Password</label>
                <input type="password" class="boxinput" placeholder="Password" id="password">
        
                <button>Log In</button>
                <div class="social">
                  <div class="go"><i class="fab fa-google"></i>  Google</div>
                  <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
                </div>
                </div>
            </form>
    </div>
        
      
</main>